.navSmartphone {
  display: flex;
  flex: auto;
  justify-content: center;
  animation: smartphoneAnimation 0.33s linear forwards;
}

.nav2 {
  display: flex;
  flex: auto;
  justify-content: center;
  animation: smartphoneAnimationReverse 0.33s linear forwards;
}

@keyframes smartphoneAnimation {
  0% {
    transform: translateX(130px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes smartphoneAnimationReverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(130px);
  }
}

.home:active > .homeIconHover {
  display: flex;
  cursor: pointer;
}
.home:active > .homeIcon {
  display: none;
}
.home:hover > .homeIconHover {
  display: flex;
  cursor: pointer;
}
.home:hover > .homeIcon {
  display: none;
}

.source:active > .sourceIconHover {
  display: flex;
  cursor: pointer;
}
.source:active > .sourceIcon {
  display: none;
}

.source:hover > .sourceIconHover {
  display: flex;
  cursor: pointer;
}
.source:hover > .sourceIcon {
  display: none;
}

.news:active > .newsIconHover {
  display: flex;
  cursor: pointer;
}
.news:active > .newsIcon {
  display: none;
}
.news:hover > .newsIconHover {
  display: flex;
  cursor: pointer;
}
.news:hover > .newsIcon {
  display: none;
}

.center {
  animation: center 0.33s linear forwards;
}

@keyframes center {
  0% {
    transform: translateY(10%);
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
