.carousel {
  .react-multi-carousel-list {
    padding-block: 1.5rem;
  }
}

.react-multi-carousel-item {
  margin-right: 1px;
}

.slider {
  margin-right: 1rem;
  img {
    width: 10rem;
    // height: 5rem;
    // max-width: 12.5rem;
    object-fit: fill;
    border-radius: 10px;
    margin-right: 0.3rem;
  }
}

.react-multiple-carousel__arrow {
  background: rgba(0, 0, 0, 0.5);

  &::before {
    font-weight: bold;
  }

  &--right {
    font-weight: bold;
    right: -1rem;
  }

  &--left {
    left: -1rem;
  }
}
