@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* letter-spacing: 0.01rem; */
}

@layer {
  html {
    @apply text-white;
    /* @apply font-sansCondensed !important; */
    @apply h-full;
    font-family: cursive !important;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(#272e36, #0e1216);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #72653a;
  border-radius: 0.1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f4516;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}
