@mixin keyframesToX($name, $skewY) {
  @keyframes #{$name} {
    0% {
      transform: skew(0deg);
    }
    100% {
      transform: skewY($skewY);
    }
  }
}
@mixin keyframesFromX($name, $skewY) {
  @keyframes #{$name} {
    0% {
      transform: skewY($skewY);
    }
    100% {
      transform: skew(0deg);
    }
  }
}

@mixin animate($animation) {
  animation: $animation 0.33s linear forwards;
}

.toX {
  & > :nth-child(1),
  & > :nth-child(4) {
    @include keyframesToX(toX1, 45deg);
    @include animate(toX1);
  }
  & > :nth-child(2),
  & > :nth-child(3) {
    @include keyframesToX(toX2, -45deg);
    @include animate(toX2);
  }
}
.fromX {
  & > :nth-child(1),
  & > :nth-child(4) {
    @include keyframesFromX(fromX1, 45deg);
    @include animate(fromX1);
  }
  & > :nth-child(2),
  & > :nth-child(3) {
    @include keyframesFromX(fromX2, -45deg);
    @include animate(fromX2);
  }
}

.center {
  animation: center 0.66s linear forwards;
}

@keyframes center {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  57% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

%myTextShadow {
  text-shadow: 1px 1px 10px rgba(30, 136, 196, 1);
}
.navbarIcon {
  @extend %myTextShadow;
  font-size: 1.25rem;
  color: rgba(30, 136, 196, 1);
  text-decoration: underline;
  filter: drop-shadow(1px 1px 10px rgba(30, 136, 196, 1));
  // padding: 0.5rem;
  // box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.322);
  // border: 1px solid;
  // animation: center 0.66s linear forwards;

  // &:hover {
  //   transition-property: all;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  //   transition-duration: 150ms;
  //   color: aliceblue;
  // }
}

.neonEffectText {
  @extend %myTextShadow;
}

.navbarSmartphone {
  clip-path: margin-box;
}
