[data-rmiz-modal-overlay="visible"] {
  background-color: #272e36 !important;
}

[data-rmiz-modal-content] {
  display: flex;
  align-items: flex-end;
}

.sliderProj {
  margin: 0 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: fit-content;
  & img {
    max-width: 12.5rem;
    // width: 100%;
    // border-radius: 10px;
  }
}

.projects {
  .react-multi-carousel-list {
    justify-content: center;
    padding-block: 0.5rem;
    padding-bottom: 1rem;
  }
  .react-multi-carousel-item {
    padding: 1rem;
    padding-inline: 1.5rem;
  }
}

.react-multi-carousel-item {
  display: flex;
  justify-content: center;
}
.react-multi-carousel-track {
  align-items: center;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(114, 101, 58);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active
  button {
  background: rgb(114, 101, 58) !important;
}
